/* Unrelated to chessground; only for the examples page */
body {
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a 116px);
  color: #b0b0b0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
}