/*
 * Board
 */
.blue .cg-wrap {
  background-image: url('images/board/blue.svg');
}

.merida .cg-wrap piece svg use.black { fill: black; }
.merida .cg-wrap piece svg use.white { fill: white; }
.merida .cg-wrap piece svg use.ash { fill: #D6D6D6; }
.merida .cg-wrap piece svg use.slate { fill: #929292; }
.merida .cg-wrap piece svg use.pink { fill: pink;}
.merida .cg-wrap piece svg use.red { fill: red;}
.merida .cg-wrap piece svg use.orange { fill: orange;}
.merida .cg-wrap piece svg use.yellow { fill: yellow;}
.merida .cg-wrap piece svg use.green { fill: green;}
.merida .cg-wrap piece svg use.cyan { fill: cyan;}
.merida .cg-wrap piece svg use.navy { fill: navy;}
.merida .cg-wrap piece svg use.violet { fill: purple;}