/*
 * Board
 */
.blue .cg-wrap {
  background-image: url('images/board/brown.svg');
}

piece svg use.black { fill: black; }
piece svg use.white { fill: white; }
piece svg use.ash { fill: #D6D6D6; }
piece svg use.slate { fill: #929292; }
piece svg use.pink { fill: pink;}
piece svg use.red { fill: red;}
piece svg use.orange { fill: orange;}
piece svg use.yellow { fill: yellow;}
piece svg use.green { fill: green;}
piece svg use.cyan { fill: cyan;}
piece svg use.navy { fill: navy;}
piece svg use.violet { fill: purple;}